*
{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body
{

    color: #FFFFFB;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

section
{
    padding: 30vh 0;
}

.general-header
{
    text-align: left;
    min-height: 20vh;

    position: relative;
    background-image: url("../../img/header-background.png");

    clip-path: polygon(0 0, 50% 0, 0 100%);
    margin-bottom: -20vh;

    z-index: 4;
}

.general-header img
{
    padding: 4vh 3vw;
    width: 15vw;
    height: auto;
}

/*              CLIP SECTION GRID            */

.clip-section
{
    position: relative;
    background: #161a1d;
    min-height: 315px;

    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%);
    margin-bottom: -8vw;
    
    z-index: 3;
}

.clip-section-container
{
    margin: 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.youtube-frame
{
    grid-row: 1/3;
    grid-column: 2/4;
}

.timer-container
{
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;

    grid-row: 3/4;
    grid-column: 1/3;
    align-self: end;

    text-align: left;
}

#timer
{
    font-size: 3rem;
    color: #e5383b;
}

/*          NEWSLETTER SECTION GRID              */


.newsletter-section
{
    position: relative;
    background: #660708;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 8vw));
    margin-bottom: -8vw;

    z-index: 2;
}

.newsletter-section-container
{
    margin: 0 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.interested
{
    grid-column: 2/4;
    grid-row: 1/2;

    text-align: right;
}

.newsletter-signup-section
{
    grid-column: 1/3;
    grid-row: 2/3;

    text-align: left;
}


/*          COMMENTS SECTION               */

.comments-section
{
    position: relative;
    background: #b1a7a6;
    text-align: left;

    z-index: 1;
}

.comments-section-container
{
    width: 70%;

    margin: auto;
}

.comments-section-container textarea
{
    width: 100%;
    height: 60px;
    resize: none;
}

.comment-container
{
    position: relative;
    margin: 2vh 0px;
    padding: 2vw;

    background-color: rgba(211, 201, 200, 1);

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    
    border-radius: 5%;
}

.comment-container-short
{
    height: 200px; /* fixed size of the short version of comment*/
}

.comment-container-short::after
{
    content: '';

    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;

    height: 50px;

    background-image: linear-gradient(to top, rgba(211, 201, 200, 1), rgba(211, 201, 200, 0));
}

.comment-container-short .comment
{
    height: calc(200px - 2vw); /* fixed size - bottom border - padding*/
    overflow: hidden;
}

/*.comment
{
    
    
    position: relative;
    margin: 2vh 0px;
    padding: 2vw;

    background-color: #d3c9c8;

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    
    border-radius: 5%;

    /* overflow: hidden;

    test
    height: 200px;
}*/

/*TEST.comment::after
{
    content: '';
    position: absolute;
    left: 0%;
    right: 0%;
    height: 30px;
    background: red;
}*/

.comment-username
{
    font-size: 1rem;
    color: black;
    font-weight: 300;
    font-style: italic;
}

#commentButton
{
    background-color: rgb(199, 199, 199);
    
    font-weight: 400;
    color: black;
    text-align: center;
    
    margin: 0 auto;
    width: 20vw;
    border: 1px solid black;

    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

#commentButton:hover
{
    background-color: rgb(215, 215, 215);
}

.shortable
{
    position: absolute;
    bottom: 5%;
    right: 5%;

    text-align: right;
    color: black;

    cursor: pointer;
}

.shortable:hover
{
    text-decoration: underline;
}

/*          FOOTER  SECTION                 */

.general-footer
{
    padding: 5vh 0;
    /*background: cross-fade();*/
    background: #a4161a;
}

.error
{
    color: crimson;
}

.success
{
    color: lawngreen;
}