*
{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}

body
{

    color: #FFFFFB;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

section
{
    padding: 30vh 0;
}

.general-header
{
    text-align: left;
    min-height: 20vh;

    position: relative;
    background-image: url("../../img/header-background.png");

    clip-path: polygon(0 0, 50% 0, 0 100%);
    margin-bottom: -20vh;

    z-index: 4;
}

.general-header img
{
    padding: 4vh 3vw;
    width: 15vw;
    height: auto;
}

/*              CLIP SECTION GRID            */

.clip-section
{
    position: relative;
    background: #161a1d;
    min-height: 315px;

    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%);
    margin-bottom: -8vw;
    
    z-index: 3;
}

.clip-section-container
{
    margin: 0 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.youtube-frame
{
    grid-row: 1/3;
    grid-column: 2/4;
}

.timer-container
{
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;

    grid-row: 3/4;
    grid-column: 1/3;
    align-self: end;

    text-align: left;
}

#timer
{
    font-size: 3rem;
    color: #e5383b;
}

/*          NEWSLETTER SECTION GRID              */


.newsletter-section
{
    position: relative;
    background: #660708;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 8vw));
    margin-bottom: -8vw;

    z-index: 2;
}

.newsletter-section-container
{
    margin: 0 20vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.interested
{
    grid-column: 2/4;
    grid-row: 1/2;

    text-align: right;
}

.newsletter-signup-section
{
    grid-column: 1/3;
    grid-row: 2/3;

    text-align: left;
}


/*          COMMENTS SECTION               */

.comments-section
{
    position: relative;
    background: #b1a7a6;

    z-index: 1;
}

.general-footer
{
    padding: 5vh 0;
    /*background: cross-fade();*/
    background: #a4161a;
}